# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
*.swp

# Npm
dist/
node_modules/
package-lock.json

# Notebook
.ipynb_checkpoints/

# tex
*.log
*.aux
*.synctex.gz
