# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
*.swp

# Npm
dist/
node_modules/

# tex
*.log
*.aux
*.synctex.gz
/.vs
/projects/cpp_project
/projects/CPP_SCORING_FX/packages/eigen
/projects/CPP_SCORING_FX/ScoringFX/Debug/ScoringFX.ilk
/projects/CPP_SCORING_FX/ScoringFX/Debug/ScoringFX.pdb
/projects/CPP_SCORING_FX/ScoringFX/ScoringFX/x64/Debug/ScoringFX.tlog
/projects/CPP_SCORING_FX/ScoringFX/ScoringFX/x64/Debug/vc141.idb
/projects/CPP_SCORING_FX/ScoringFX/ScoringFX/x64/Debug/vc141.pdb
/projects/CPP_SCORING_FX/ScoringFX/ScoringFX/Debug
/projects/CPP_SCORING_FX/ScoringFX/ScoringFX/ScoringFX.vcxproj
/projects/CPP_SCORING_FX/ScoringFX/ScoringFX/ScoringFX.vcxproj.filters
/projects/CPP_SCORING_FX/ScoringFX/x64/Debug
/projects/CPP_SCORING_FX/ScoringFX/.vs/ScoringFX/v15
